<div class="jumbotron center">
  <h1>Hai selamat Datang!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  

   <!-- cara buat button dengan embedd ruby -->
   <%= link_to 'Login', new_user_session_path, class: 'btn btn-default' %>
   <%= link_to 'Join', new_user_registration_path, class: 'btn btn-primary' %>

</div>